:root {
    --main-color: #386641;
    --secondary-color: #f2e8cf;
    --text-color: #FFF;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--secondary-color);
}

.header {
    width: 100vw;
    height: 100px;
    background-color: #18862B;
}

.navbar {}

.main-menu {
    width: 780px;
    height: 500px;
    padding-top: 20px;
    margin: 150px auto;
    border: 1px solid rgb(71, 71, 71);
    border-radius: 25px;
    box-shadow: 7px 7px 5px 1px rgba(0, 0, 0, 0.2);
    background-image: url(./img/bg-ifce.png);
    background-size: cover;
    background-position: center;
}

.title,
.qacademico,
.subtitle {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);

}

.welcome {
    margin: 0 auto;
    width: 600px;
    height: 450px;
}

.main-menu .welcome .title {
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    color: var(--text-color);
    padding-top: 15px;

}

.main-menu .welcome .qacademico {
    color: #A9CF46;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    line-height: 65px;

}

.main-menu .welcome .subtitle {
    color: var(--text-color);
    font-weight: bold;
    font-size: 20px;
    margin: 30px;
    line-height: 25px;

}

.menu-list {
    width: 250px;
    margin: 0 auto;
}

.btn-secondary {
    background-color: #A9CF46;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    justify-content: center;
    width: 250px;
}

.btn-secondary:hover {
    background-color: #87a736;
}

.btn-secondary:focus {
    background-color: #87a736;
}

.btn-group {
    background-color: red;
}

.dropdown-menu a:hover {
    background-color: #A9CF46;
}